This is the show page

<ul>
  <li>Name: <%= @company.name %></li>
  <li>Industry: <%= @company.industry %></li>
  <li>Employees: <%= @company.employee_count %></li>
  <li>Joined: <%= @company.join_date %></li>
</ul>
